# Supabase Configuration
NEXT_PUBLIC_SUPABASE_URL=https://lpuxaesycmrixvvivpal.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImxwdXhhZXN5Y21yaXh2dml2cGFsIiwicm9sZSI6ImFub24iLCJpYXQiOjE3ODQ1NDU3MzksImV4cCI6MjEwMDEyMTczOX0.U1ArLEVdNcL_rbeYx_I766203LH1UFCe0iS67C5bis4
SUPABASE_SERVICE_ROLE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImxwdXhhZXN5Y21yaXh2dml2cGFsIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc4NDU0NTczOSwiZXhwIjoyMTAwMTIxNzM5fQ.czdxWtR6BJu2rJox1cHzHnzmKNN0BiiXNwnEklMdo9U
